article .field--type-sxt-mediawiki h1, article .field--type-sxt-mediawiki h2 {
    font-family: "Linux Libertine",Georgia,Times,serif;
    font-size: 1.5em;
    line-height: 1.3;
    margin-bottom: 0.25em;
    padding: 0;
    border-bottom: 1px solid #aaa;
}
article .field--type-sxt-mediawiki h1 {
    font-size: 1.7em;
}
article .field--type-sxt-mediawiki h3, article .field--type-sxt-mediawiki h4,
article .field--type-sxt-mediawiki h5, article .field--type-sxt-mediawiki h6 {
    line-height: 1.6;
    margin-bottom: 0;
    margin-top: 0.3em;
    padding-bottom: 0;
    font-weight: bold;
}
article .field--type-sxt-mediawiki h4,
article .field--type-sxt-mediawiki h5, article .field--type-sxt-mediawiki h6 {
    font-size: 100%;
}

article .field--type-sxt-mediawiki ul,
article .field--type-sxt-mediawiki ol {
    margin: 0.3em 0 1em 2em;
    padding: 0;
}
article .field--type-sxt-mediawiki dt {
    font-weight: bold;
    margin-bottom: 0.1em;
}
article .field--type-sxt-mediawiki dd {
    margin: 0 0 0.1em 1.6em;
}

article table.wikitable tr th {
    background: LightSteelBlue;
    color: #333333;
}

