.sxt-mwcomments {
    margin: 40px -4px 48px 0;
    padding-left: 6px;
    background-color: gainsboro;
    line-height: 16px;
}
.sxt-mwcomments p {
    margin-bottom: 6px;
}
.sxt-mwcomments .sxt-mwcomment-item.level-2,
.sxt-mwcomments .sxt-mwcomment-item.level-3,
.sxt-mwcomments .sxt-mwcomment-item.level-4,
.sxt-mwcomments .sxt-mwcomment-item.level-5 {
    margin-left: 10px;
    padding-left: 6px;
    border-left: 1px solid silver;
}
.sxt-mwcomments .sxt-mwcomment-item h2,
.sxt-mwcomments .sxt-mwcomment-item h3,
.sxt-mwcomments .sxt-mwcomment-item h4,
.sxt-mwcomments .sxt-mwcomment-item h5,
.sxt-mwcomments .sxt-mwcomment-item h6 {
    background-color: silver;
    margin-top: 6px;
    margin-left: -6px;
    padding-left: 6px;
    text-transform: none;
    letter-spacing: 0;
}

.sxt-mwcomments .sxtmwc-actions-all {
    float: left;
    margin: -28px 0 0 -6px;
}
.sxt-mwcomments .sxtmwc-actions-all.mwc-all-foot {
    margin-top: -2px;
    margin-bottom: 16px;
}

.sxt-mwcomments .add-mwcomment-head,
.sxt-mwcomments .add-mwcomment-foot,
.sxt-mwcomments .closed-mwcomment-head,
.sxt-mwcomments .closed-mwcomment-foot,
.sxt-mwcomments .sxtmwc-action {
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    line-height: 14px;
    margin: 0 4px 4px 0;
    padding: 2px 8px;
    border: 1px solid darkgray;
    text-transform: none;
    min-width: 30px;
    text-align: center;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}

.sxt-mwcomments .sxtmwc-toggler-all,
.sxt-mwcomments .add-mwcomment-head,
.sxt-mwcomments .add-mwcomment-foot,
.sxt-mwcomments .closed-mwcomment-head,
.sxt-mwcomments .closed-mwcomment-foot {
    background-color: silver;
    padding: 4px;
}
.sxt-mwcomments .closed-mwcomment-head,
.sxt-mwcomments .closed-mwcomment-foot {
    cursor: default;
}
.sxt-mwcomments .add-mwcomment-foot,
.sxt-mwcomments .closed-mwcomment-foot {
    margin-top: 0;
}

.sxt-mwcomments .sxt-mwcomment-body p:last-of-type {
    padding-bottom: 20px;
}

body.sxtmwc-gainsboro .sxt-mwcomments .sxtmwc-toggler-all,
body.sxtmwc-gainsboro .sxt-mwcomments .add-mwcomment-head,
body.sxtmwc-gainsboro .sxt-mwcomments .add-mwcomment-foot,
body.sxtmwc-gainsboro .sxt-mwcomments .closed-mwcomment-head,
body.sxtmwc-gainsboro .sxt-mwcomments .closed-mwcomment-foot {
    background-color: gainsboro;
}
body.sxtmwc-tan .sxt-mwcomments .sxtmwc-toggler-all,
body.sxtmwc-tan .sxt-mwcomments .add-mwcomment-head,
body.sxtmwc-tan .sxt-mwcomments .add-mwcomment-foot,
body.sxtmwc-tan .sxt-mwcomments .closed-mwcomment-head,
body.sxtmwc-tan .sxt-mwcomments .closed-mwcomment-foot {
    background-color: tan;
}

